.checkout-header{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: relative;
    min-height: 100vh;
    background-color: whitesmoke;
}
.checkout-left{
    width: 120%;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    border: solid 0.5px darkgray;
}

.checkout-left>h3{
    margin-bottom: 10px;
    text-transform: capitalize;
    border-bottom: solid 0.5px darkgray;
}

.checkout-img{
    width: 100%;
    margin-bottom: 5px;
}

.checkout-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    background: white;
}

.checkout-content-boby{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.checkout-content-boby > p{
   font-size: 10px;
   font-weight: 650;
}

.checkout-content-boby > small{
   font-size: 12px;
   font-weight: 700;
}

.checkout-content-img{
width: 40%;
margin-right: 10px;
}

.checkout-content-img > img{
object-fit: contain;
width: 100%;
height: 100px;
}

.checkout-delete{
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    height: 30px;
    border-radius: 5px;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
    background: #f0c14b;
    opacity: 0.8;
}

.checkout-delete:hover{
    opacity: 1;
}

.checkout-right{
    background: white;
    border-radius: 15px;
    padding: 10px;
    width:100%;
    height: 120px;
}

.checkout-right > div{
    padding: 10px;   
}

.checkout-right > div > p{
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 8px;  
    font-weight: 700; 
}

.checkout-right > div > div>span{
    font-size: 10px;
}

.checkout-right > div > a>button{
    font-size: 12px;
}

.checkout__payment{
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    font-size: smaller;
    height: 30px;
    border-radius: 5px;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
    background: #f0c14b;
    opacity: 0.8;
}
@media screen and (min-width: 680px) {
.checkout-delete{
    font-size: 14px;
}

.checkout__payment{
    font-size: 14px;
}
.checkout-content{
    display: flex;
    flex-direction: row;
}

.checkout-content-boby{
    width: 60%;
}
.checkout-right > div > p{
    font-size: 16px;  
}
.checkout-right{
    height: 150px;
}
.checkout-right > div > p{
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 16px;  
    font-weight: 700; 
}

.checkout-right > div > div>span{
    font-size: 12px;
}

.checkout-right > div > a>button{
    font-size: 16px;
}
}

@media screen and (min-width: 960px) {
  .checkout-header{
      max-width: 1150px;
  }

  .checkout-content-boby > p{
   font-size: 13px;
   font-weight: 700;
}

.checkout-content-boby > small{
   font-size: 14px;
   font-weight: 700;
}
  .checkout-delete{
    margin-left: 50px;
    max-width: 200px;
  }

  .checkout-right > div > p{
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 20px;  
    font-weight: 700; 
}
}