.checkout-header{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: whitesmoke
}
.checkout-left{
    width: 120%;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    border: solid 0.5px darkgray;
}

.checkout-left>h3{
    margin-bottom: 10px;
    text-transform: capitalize;
    border-bottom: solid 0.5px darkgray;
}

.checkout-img{
    width: 100%;
    margin-bottom: 5px;
}

.checkout-right{
    background: white;
    border-radius: 15px;
    padding: 10px;
    width:70%;
    height: 150px;
}

.checkout-content{
    display: flex;
    padding: 10px;
    border-radius: 15px;
    background: white;
}

.checkout-content-boby{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.checkout-content-img{
width: 50%;
margin-right: 10px;
}

.checkout-content-img > img{
object-fit: contain;
width: 100%;
height: 100px;
}

.checkout-delete{
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
    background: #f0c14b;
    opacity: 0.8;
}

.checkout-delete:hover{
    opacity: 1;
}

@media screen and (min-width: 960px) {
  .checkout-header{
      max-width: 1150px;
  }

  .checkout-delete{
    display: flex;
    justify-content: center;
    max-width: 200px;
  }
}