header{
    background-color: black;
    height: 62px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    column-gap: 5px;
    justify-items: stretch;
    color: blanchedalmond;
    z-index: 1;
}

.header-logo{
    margin-left: 10px;
    display: flex;
    font-size: 25px;
    font-weight: lighter;  
}

.header-logo>span{
    margin-top: 10px;
    margin-right: 5px;
    /*border-style: solid;*/
    font-weight: lighter;
}

.header-img{
    object-fit: contain;
    height: 30px;
    margin-top: 15px;
    background: transparent;
    cursor: pointer;
}

.header-search > input{
    width: 90%;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    border-color: rgb(212, 145, 21);
    border-style: solid 1px;
    margin-top: 10px;
}

.header-search > button{
    cursor: pointer;
    margin-left: -45px;
    font-size: 15px;
    height: 40px;
    width: 45px;
    border-radius: 5px;
    border-color: transparent;
    border-style: none;
    opacity: 0.8;
    background: rgb(212, 145, 21);
}

.header-search > button:hover{
    opacity: 1;
}

.header-children{
    display:flex;
}

.header-children .login{
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: 40%;
    margin-right: 5px;
    margin-top: 20px;
}
.header-children>div{
    color: white;
    cursor: pointer;
    width: 30%;
    margin-right: 5px;
    margin-top: 20px;
}

div>p{
    font-size: 9px;
    font-weight: 500;
}

div > span{
    display: block;
    margin-top: -2px;
    font-size: 10px;
    font-weight: 500;
}

.link > div{
    width: 30%;
    margin-right: 5px;
    margin-top: 20px;
    color: white;
}

.header-cart{
    display: flex;
    font-size:20px;
}
.header-cart>span{
    display: block;
    margin-top: 5px;
    font-size: 10px;
}

@media screen and (min-width: 680px) {
header{
    grid-template-columns: 1fr 3fr 2fr;
}

.header-logo{
    font-size: 30px;
}

.header-img{
    height: 35px;
}

.header-search > input{
    width: 95%;
}

.header-children .login{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;
}
.header-children>div{
    color: white;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;
}
div>p{
    font-size: 12px;
    font-weight: 500;
}

div > span{
    display: block;
    margin-top: -2px;
    font-size: 14px;
    font-weight: 500;
}
.header-cart{
    font-size:26px;
}
}

@media screen and (min-width: 960px) {
header{
    grid-template-columns: 1fr 4fr 1.5fr;
}

.header-children > div{
    margin-right: 15px;
    margin-top: 15px;
}

.header-search > input{
    width: 95%;
}

.header-children > div > p{
    font-size: 14px;
    font-weight: 500;
}
.header-children .login{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;
}

.login > div > p{
    font-size: 14px;
}

.login > div > span{
    font-size: 14px;
}
.header-children > div > span{
    font-size: 16px;
    font-weight: 500;
}
}